
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 310px;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#announcement {
  padding: 10px;
  font-size: 20px;
}